*{
    box-sizing: border-box;
}
body{
    background-color: white;
}

.project-wrapper{
    
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   
}

.card{
    width: 350px;
    height: 400px;
    margin:30px 30px;
    background-color: aqua;
   
}

.card-img{
    max-width: 100%;
    overflow:hidden;
    height: 200px;
}



.card-2 .card-img{
   height: 220px;
}
