@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Noto+Serif&family=Playfair+Display&family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin:0;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: #293556;
    
}
.wrapper{
    max-width: 1400px;
    margin-inline: auto;
  padding:0 30px
    
}
.header{
    background-color: #120e16;
  width:100%;
  height: 120px;
  
}
.header-section{
  
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    color:white;
    text-transform: uppercase;
   
}
.navigation ul{
    display: flex;
    
    
}
.navigation ul li{
    padding:0 30px;
    padding-top: 10px;
    list-style: none;
}
.nav-lists a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;

}
.nav-lists a span{
    position: relative;
}

.raul{
    letter-spacing: 2px;
}
.Intro-section{
 
    font-size: 40px;
  text-align: center;
    letter-spacing: 2px;
   margin:250px 0px;
   overflow: hidden;
}
.flexed{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Intro-section button{
    width: 150px;
    height: 40px;
    margin-top: 30px;
    background-color: #373b61;
    font-size: 18px;
    border:none;
    color:white;
    cursor: pointer;
    transition: transform 0.5s ease-in-out 0.1s;
}
.Intro-section button:hover{
   
    transform: translateY(10px);
}
.footer{
    width: 100%;
    background-color: #120e16 ;
    height: 150px;
   
}
.footer-section{
  display: flex;
  justify-content: space-between;
 padding-top: 50px;
}
.icons{
    width: 24%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
   
}
.fa-solid{
    color: white;
}
.fa-brands{
    color: white;
   
}
#facebook, #insta, #github, #email,#link,.heading{
transition: transform 0.5s ease-in-out 0.2s;
}
#facebook:hover, #insta:hover, #github:hover, #email:hover, #link:hover, .heading:hover{
    transform: translatey(10px);
}
.html{
    width: 100%;
    height: 12px;
    border:2px solid white;
    border-radius: 10px;
}
.right-intro{
    flex-basis: 45%;
}
.right-intro .html-intro{
    width: 80%;
   height: 12px;
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.gap{
    margin-top: 10px;
}
.js-intro{
width:40% ;
height: 12px;
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.left-intro img{
    max-width: 100%;
}