@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Noto+Serif&family=Playfair+Display&family=Poppins:wght@200&display=swap');
:root{
    --primary-color: #fffcf7;
    --text-color: #070707;
    --secondary-text-color: #989898;
}
*{
    padding:0;
    margin:0;
    list-style-type: none;
    
}
body{
    font-family: 'Playfair Display', serif;
}
.header{
    width:100%;
    
   background-color: var(--primary-color);
   
    height: 100px;
    
}
 .container{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    padding: 0px 50px;
    align-items: center;
    padding-top: 30px;
    overflow: hidden;
    
}
#drop-down{
    width: 300px;
    height: 100vh;
    background-color: white;
    position: absolute;
    top:0;
    z-index: 3;
    opacity: 0.97;
    display: none;

}
.nav{
    max-width: 700px;
  
}

.nav .nav-section {
    display: flex;
    justify-content: space-between;
    
}
.nav-list a{
    color:black;
    text-decoration: none;
    padding:0px 20px;
}
.icons {
    display: flex;
  
    flex-direction: row;
    
}
.icons a{
    padding:0px 10px;
    font-size: 20px;
    color:black;
}
#hamburger{
    display: none;
   
}
/* hero section starts */
.hero{
    width: 100%;
    background-color:#fafafa; 
    height: 700px;
   
}
.hero-heading{
    font-size: 50px;
   text-align: center;
    padding-bottom: 20px;
}
.right-hero{
 max-width: 100%;
 overflow: hidden;

}
.hero-description{
    font-size: 20px;
    text-align: center;
    color: var(--secondary-text-color);
    
}
.hero-img{
    max-width:700px;
    max-height: 500px;
    border-radius:  90%;
    margin-top: 10px;
   
}
.container-2{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    padding: 0px 50px;
    align-items: center;
    padding-top: 30px;
    overflow: hidden;
}
/* about me section starts*/
.about-me{
    border-top: 1px solid grey;
    width: 100%;
    height: 100%;
   margin-bottom: 100px;
    margin-top: 100px;
}
.about-me-right{
   width: 50%;
 
}
.about-me-heading{
    font-size: 50px;
    padding-bottom: 25px;
    padding-top: 20px;
}
.about-me-description{
    font-size: 20px;
    color: var(--secondary-text-color);
    padding-bottom: 20px;
}
.btn{
    width: 200px;
    height: 50px;
    font-size: 18px;
    background: linear-gradient( #2af598, #009efd);
    color:aliceblue;
    border:none;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out 0.2s;
}
.btn:hover{
    transform: translateY(-10px);
}
/* this is all about the working section */
.work-heading{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}
.work{
    margin-bottom: 100px;
    background-color:#fafafa;
   
}
.container-3{
    max-width: 1400px;
    margin-inline: auto;
    padding: 0px 50px;
}
.flex{
    display: flex;
    gap:10%;
    justify-content: space-around;
}
.project-1{
    width:30%;
    padding-bottom: 20px;
}
.project-1 h1{
    font-size: 20px;
    color:#070707;
    padding-bottom: 20px;
}
.project-1 p{
    font-size: 16px;
    color:#989898;
}
/*media quaries */
@media (max-width:400px){
   .nav-heading{
    font-size: 18px;
   }
   .hamburger{
    font-size: 10px;
   }
}
@media (max-width:778px){
    .nav{
        display: none;
    }
    
    #hamburger{
        display: block;
       
       
    }
    .icons a{
        padding:0px 20px
    } 
    .hero-description, .about-me-description{
        font-size: 16px;
    }
    .hero-heading, .about-me-heading{
        font-size: 35px;
    }
    .about-me-right{
        text-align: center;
    }
    
}
@media (max-width:600px){
    #facebook, #google, #apple, #insta{
        display: none;
    }
    .about-me-img{
        width: fit-content;
    }
    
}

@media (max-width:1020px){
    .container-2{
        flex-direction: column;
    
    }
    .about-me-right{
        width: 100%;
    }
   .btn{
    margin-bottom: 20px;
   }
   .flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .project-1{
    width: 100%;

   }
   .project-1 h1{
    text-align: center;
   }
}
